{% extends 'accounts/main.html' %}
{% load bootstrap4 %}

{% load widget_tweaks %}

{% load static %}

{% block content %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body ml-3">
			<h5>Customer: {{ customer.name}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'UpdateCustomer' customer.id %}">Update
				Customer</a>
			<a class="btn btn-outline-success  btn-sm btn-block" href="{% url 'CreateOrder' customer.id %}">Place a New
				order</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'DeleteCustomer' customer.id %}">Delete
				Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: <strong>{{ customer.email }}</strong> </p>
			<p>Phone: <strong>{{ customer.phone }}</strong> </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body mr-3">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ total_orders }}</h1>
		</div>
	</div>
</div>


<br>
<!-- This is the Filter & Search Form in the customer's profile page -->
<div class="row">
	<div class="col">
		<div class="card card-body ml-3 mr-3">
			<form method="GET" action="" class="form-inline">
				{% csrf_token %}
				<div class="row">
					<div class="col-auto">
						{{ myFilter.form.product.label_tag }}
						{% render_field myFilter.form.product class="form-control" %}
					</div>
					<br>
					<div class="col-auto">
						{{ myFilter.form.category.label_tag }}
						{% render_field myFilter.form.category class="form-control" %}
					</div>
					<br>
					<div class="col-auto">
						{{ myFilter.form.status.label_tag }}
						{% render_field myFilter.form.status class="form-control" %}
					</div>
					<br>
					<div class="col-auto">
						{{ myFilter.form.date_created.label_tag }}
						{% render_field myFilter.form.date_created class="form-control" %}
					</div>
					<div>
						<button type="submit" class="btn btn-secondary">SEARCH</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body ml-3 mr-3">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td>{{ order.product }}</td>
					<td>{{ order.note }}</td>
					<td>{{ order.date_created }}</td>
					<td>{{ order.status }}</td>
					<td><a href="{% url 'UpdateOrder' order.id %}" class="btn btn-info">Update</a></td>
					<td><a href="{% url 'DeleteOrder' order.id %}" class="btn btn-danger">Remove</a> </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}