{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
        <br>
    <div class="row">
	    <div class="col-md-6">
		    <div class="card card-body ml-3">

                <p>Are you sure you want to delete "{{ order }}" ?</p>

                <form action="{% url 'DeleteOrder' order.id %}" method="post">
                    {% csrf_token %}

                    <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
                    <input type="submit" class="btn btn-danger" name="Delete">
                </form>
            </div>
        </div>
    </div>
{% endblock %}