<br>
<style>
    .card-title {
        color: #fff;
    }

    #card-header {
        color: #fff;
    }

    .card-text {
        color: #fff;
    }

    .card-footer {
        color: #fff;
    }
</style>
<div class="card text-center bg-dark">
    <div class="card-header" id="card-header">
        <h5>Eugene Consulting Limited</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <p class="card-text">We are a Tech Consulting company that honors itself in providing top class solutions to our
            clients that provides value for their businesses. </p>
        <a href="https://github.com/Eugene-Kwaka?tab=repositories" class="btn btn-primary">Check our Portfolio</a>
    </div>
    <div class="card-footer">
        Thank You
    </div>
</div>