{% extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body ml-3">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                {% crispy form %}
                <hr>
                {% endfor %}
                <input class="btn btn-primary" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}